@keyframes slidein {
    from {
      margin-left:0%;
    }
  
    to {
     margin-left: 2%;
   }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
     opacity: 1;
   }
}